= link_to fa_icon('facebook-square 2x', data: { toggle: "tooltip", placement: "top" }, title: "Facebook"), 'https://www.facebook.com/Biola'
= link_to fa_icon('twitter-square 2x', data: { toggle: "tooltip", placement: "top" }, title: "Twitter"), 'https://twitter.com/biolau/'
= link_to fa_icon('youtube-play 2x', data: { toggle: "tooltip", placement: "top" }, title: "Youtube"), 'https://www.youtube.com/user/BiolaUniversity'
= link_to fa_icon('caret-square-o-right 2x', data: { toggle: "tooltip", placement: "top" }, title: "iTunes U"), 'https://itunes.apple.com/institution/biola-university/id389654288'
= link_to fa_icon('google-plus-square 2x', data: { toggle: "tooltip", placement: "top" }, title: "Google+"), 'https://plus.google.com/u/0/+biolauniversity/posts'
= link_to fa_icon('pintrest 2x', data: { toggle: "tooltip", placement: "top" }, title: "Pintrest"), 'http://www.pinterest.com/biolau/'
